# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Secrets / local config
MyTop10/Resources/GoogleService-Info.plist
firebase/.firebaserc
firebase/functions/node_modules/
.env
.env.*

# OS
.DS_Store
*.swp
